<h2 mat-dialog-title>{{ 'app.auth.sessionExpiredWarningTitle' | translate }}</h2>
<mat-dialog-content>
  {{ 'app.auth.sessionExpiredWarningMessage' | translate: { seconds: secondsRemaining() ?? 0 } }}
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="logout()">
    {{ 'app.navigation.logout' | translate }}
  </button>
  <button mat-flat-button color="primary" type="button" [disabled]="refreshing()" (click)="staySignedIn()">
    {{ 'app.auth.staySignedIn' | translate }}
  </button>
</mat-dialog-actions>
