@if (overview(); as data) {
  <div class="overview-print-header">
    <img src="/android-chrome-512x512.png" [alt]="'app.title' | translate" />
  </div>

  <div class="gl-stack gl-stack--section">
    <p class="overview-print-date">
      {{ 'app.admin.overview.printDate' | translate }}: {{ printDate }}
    </p>

    <div class="overview-table-wrapper">
      <table class="overview-table">
        <caption class="sr-only">{{ 'app.admin.overview.tableCaption' | translate }}</caption>
        <colgroup>
          <col class="overview-table__category-column" />
          <col span="6" class="overview-table__number-column" />
        </colgroup>
        <thead>
          <tr>
            <th scope="col"><span class="overview-header__label" [title]="'app.admin.overview.category' | translate">{{ 'app.admin.overview.category' | translate }}</span></th>
            <th scope="col"><span class="overview-header__label"><span class="overview-header__short" tabindex="0" [attr.aria-label]="'app.admin.overview.provisional' | translate" [attr.data-tooltip]="'app.admin.overview.provisional' | translate">{{ 'app.admin.overview.provisionalShort' | translate }}</span><span class="overview-header__full">{{ 'app.admin.overview.provisional' | translate }}</span></span></th>
            <th scope="col"><span class="overview-header__label"><span class="overview-header__short" tabindex="0" [attr.aria-label]="'app.admin.overview.recentProvisional' | translate: { days: data.recentDays }" [attr.data-tooltip]="'app.admin.overview.recentProvisional' | translate: { days: data.recentDays }">{{ 'app.admin.overview.recentProvisionalShort' | translate: { days: data.recentDays } }}</span><span class="overview-header__full">{{ 'app.admin.overview.recentProvisional' | translate: { days: data.recentDays } }}</span></span></th>
            <th scope="col"><span class="overview-header__label"><span class="overview-header__short" tabindex="0" [attr.aria-label]="'app.admin.overview.definitive' | translate" [attr.data-tooltip]="'app.admin.overview.definitive' | translate">{{ 'app.admin.overview.definitiveShort' | translate }}</span><span class="overview-header__full">{{ 'app.admin.overview.definitive' | translate }}</span></span></th>
            <th scope="col" class="delivery-column"><span class="overview-header__label"><span class="overview-header__short" tabindex="0" [attr.aria-label]="'app.admin.overview.toDeliver' | translate" [attr.data-tooltip]="'app.admin.overview.toDeliver' | translate">{{ 'app.admin.overview.toDeliverShort' | translate }}</span><span class="overview-header__full">{{ 'app.admin.overview.toDeliver' | translate }}</span></span></th>
            <th scope="col" class="delivery-column"><span class="overview-header__label"><span class="overview-header__short" tabindex="0" [attr.aria-label]="'app.admin.overview.qrcode' | translate" [attr.data-tooltip]="'app.admin.overview.qrcode' | translate">{{ 'app.admin.overview.qrcodeShort' | translate }}</span><span class="overview-header__full">{{ 'app.admin.overview.qrcode' | translate }}</span></span></th>
            <th scope="col" class="delivery-column"><span class="overview-header__label"><span class="overview-header__short" tabindex="0" [attr.aria-label]="'app.admin.overview.delivered' | translate" [attr.data-tooltip]="'app.admin.overview.delivered' | translate">{{ 'app.admin.overview.deliveredShort' | translate }}</span><span class="overview-header__full">{{ 'app.admin.overview.delivered' | translate }}</span></span></th>
          </tr>
        </thead>
        <tbody>
          @for (category of categories(data.categories); track category.category) {
            <tr>
              <th scope="row">{{ 'app.order.categories.options.' + category.category | translate }}</th>
              <td>{{ category.provisional }}</td>
              <td>{{ category.recentProvisional }}</td>
              <td>{{ category.definitive }}</td>
              <td class="delivery-column">{{ category.toDeliver }}</td>
              <td class="delivery-column">{{ category.qrcode }}</td>
              <td class="delivery-column">{{ category.delivered }}</td>
            </tr>
          } @empty {
            <tr>
              <td colspan="7">{{ 'app.admin.overview.empty' | translate }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="gl-cluster overview-actions">
      <button mat-flat-button color="primary" type="button" (click)="deliver()">
        {{ 'app.admin.overview.deliver' | translate }}
      </button>
      <button mat-stroked-button type="button" (click)="print()">
        {{ 'app.admin.overview.print' | translate }}
      </button>
    </div>
  </div>
}
