<?php

return [
    'mode' => 'real',
    'base_url' => 'https://fsa-test.fairgate.ch',
    'organization_id' => '',
    'access_key' => '',
    'public_key' => "-----BEGIN PUBLIC KEY-----\n-----END PUBLIC KEY-----",
];
