/frontend/node_modules
/backend/vendor
/frontend/.nx
/frontend/.angular
/frontend/dist
/frontend/coverage
/backend/supervisord.pid
/backend/supervisord.log
/backend/.phpunit.cache/
/backend/config/fairgate.local.php
/backend/config/mail.local.php
/backend/config/fairgate.local.php.prod.dist
