!/backend/.env.example
!/backend/.env.integration
/backend/.env
/backend/.env.*
/backend/.phpunit.cache/
/backend/supervisord.log
/backend/supervisord.pid
/backend/vendor
/documents/current-order.md
/documents/current-plan.md
/frontend/.angular
/frontend/.nx
/frontend/coverage
/frontend/dist
/frontend/node_modules
/backend/.php-cs-fixer.cache
