/frontend/node_modules
/backend/vendor
/backend/.env
/backend/.env.*
!/backend/.env.example
!/backend/.env.integration
/frontend/.nx
/frontend/.angular
/frontend/dist
/frontend/coverage
/backend/supervisord.pid
/backend/supervisord.log
/backend/.phpunit.cache/
/documents/current-plan.md
/documents/current-order.md
