<section class="page-content">
  <div class="form-content">
    <h2>{{ 'app.passwordChange.heading' | translate }}</h2>
    <form class="auth-form" (submit)="$event.preventDefault(); onSubmit()">
      <div class="auth-field-group">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>{{ 'app.passwordChange.newPasswordLabel' | translate }}</mat-label>
          <input matInput type="password" [formField]="passwordChangeForm.newPassword" />
        </mat-form-field>
        <app-control-error
          [control]="passwordChangeForm.newPassword()"
          translationPrefix="app.passwordChange.errors.newPassword"
        />
      </div>

      <div class="auth-field-group">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>{{ 'app.passwordChange.confirmationLabel' | translate }}</mat-label>
          <input matInput type="password" [formField]="passwordChangeForm.passwordConfirmation" />
        </mat-form-field>
        <app-control-error
          [control]="passwordChangeForm.passwordConfirmation()"
          translationPrefix="app.passwordChange.errors.passwordConfirmation"
        />
        <app-control-error
          [control]="passwordChangeForm()"
          translationPrefix="app.passwordChange.errors"
        />
      </div>

      <button mat-flat-button color="primary" type="submit" [disabled]="submitting()">
        {{ 'app.passwordChange.submit' | translate }}
      </button>
    </form>
  </div>
</section>
