<section class="page-content">
  <div class="form-content">
    <h2>{{ 'app.passwordChange.heading' | translate }}</h2>
    <form [formGroup]="passwordChangeForm" class="auth-form" (ngSubmit)="onSubmit()">
      <div class="auth-field-group">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>{{ 'app.passwordChange.newPasswordLabel' | translate }}</mat-label>
          <input matInput type="password" formControlName="newPassword" />
        </mat-form-field>
        <app-control-error
          [control]="passwordChangeForm.controls.newPassword"
          translationPrefix="app.passwordChange.errors.newPassword"
        />
      </div>

      <div class="auth-field-group">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>{{ 'app.passwordChange.confirmationLabel' | translate }}</mat-label>
          <input matInput type="password" formControlName="passwordConfirmation" />
        </mat-form-field>
        <app-control-error
          [control]="passwordChangeForm.controls.passwordConfirmation"
          translationPrefix="app.passwordChange.errors.passwordConfirmation"
        />
        @if (
          passwordChangeForm.hasError('passwordsDoNotMatch') &&
          passwordChangeForm.controls.passwordConfirmation.touched
        ) {
          <div class="form-error" role="alert">
            {{ 'app.passwordChange.errors.passwordsDoNotMatch' | translate }}
          </div>
        }
      </div>

      <button mat-flat-button color="primary" type="submit">
        {{ 'app.passwordChange.submit' | translate }}
      </button>
    </form>
  </div>
</section>
