<section class="gl-stack gl-stack--group">
    <h2>{{ 'app.passwordChange.heading' | translate }}</h2>
    <form class="gl-stack gl-stack--group" (submit)="$event.preventDefault(); onSubmit()">
      <div class="auth-field-group">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>{{ 'app.passwordChange.newPasswordLabel' | translate }}</mat-label>
          <input matInput type="password" [formField]="passwordChangeForm.newPassword" />
          <app-control-error
            matError
            [control]="passwordChangeForm.newPassword()"
            translationPrefix="app.passwordChange.errors.newPassword"
          />
        </mat-form-field>
      </div>

      <div class="auth-field-group">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>{{ 'app.passwordChange.confirmationLabel' | translate }}</mat-label>
          <input matInput type="password" [formField]="passwordChangeForm.passwordConfirmation" />
          <app-control-error
            matError
            [control]="passwordChangeForm.passwordConfirmation()"
            translationPrefix="app.passwordChange.errors.passwordConfirmation"
          />
        </mat-form-field>
      </div>

      <div class="gl-cluster">
        <button mat-flat-button color="primary" type="submit" [disabled]="submitting()" (click)="$event.preventDefault(); onSubmit()">
          {{ 'app.passwordChange.submit' | translate }}
        </button>
      </div>
    </form>
</section>
