<h2 mat-dialog-title>{{ data.title | translate }}</h2>
<mat-dialog-content>{{ data.message | translate }}</mat-dialog-content>
<mat-dialog-actions class="confirm-dialog__actions">
  <button class="confirm-dialog__cancel" mat-button type="button" (click)="cancel()">
    {{ data.cancelLabel | translate }}
  </button>
  <button class="confirm-dialog__confirm" mat-flat-button color="primary" type="button" (click)="confirm()">
    {{ data.confirmLabel | translate }}
  </button>
</mat-dialog-actions>
