@use '@angular/material' as mat;

@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/700.css';
@import '@fontsource/material-icons';

@include mat.core();

$gaerngschee-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
  ),
));

html {
  @include mat.all-component-themes($gaerngschee-theme);
  overflow: hidden;
  height: 100%;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
  height: 100%;
  font-family: 'Inter', sans-serif;
}

mat-icon {
  font-family: 'Material Icons', sans-serif;
}
