<mat-card appearance="outlined" class="anmeldung-card">
  <mat-card-header>
    <mat-card-title>
      <mat-icon inline="true">info</mat-icon>
      Anmeldeformular geschlossen
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="intro-text">Liebe Klient*innen</p>
    <p class="body-text">
      Wir freuen uns sehr über das grosse Interesse an unserer Mässpäggli-Aktion
      2025. Aufgrund der zahlreichen Anmeldungen ist das Anmeldeformular leider
      bereits geschlossen. Bis zum nächsten Jahr!
    </p>
    <img src="/baj_maess_visual.svg" alt="Mässpäggli" class="hero-image" />
  </mat-card-content>
</mat-card>
