<section class="page-content">
  <div class="form-content">
    <h2>Registrieren</h2>
    <form [formGroup]="registrierungForm" class="auth-form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Passwort</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Passwort bestätigen</mat-label>
          <input matInput type="password" formControlName="passwordConfirm" />
        </mat-form-field>
        <button mat-flat-button color="primary" type="submit">Registrieren</button>
    </form>
  </div>
</section>
