:host {
  display: block;
}

:host p,
:host ul {
  margin-block: 0;
}

:host ul {
  padding-inline-start: 1.5rem;
}

@media (min-width: 768px) {
  .delivery-action {
    align-self: flex-start;
  }
}
